<head>
    <link rel="stylesheet" href="{{ asset('css/visit.css') }}">
</head>
<body>
    <div class="container">
        <form action="/customer/visit" method="post">
            <label for="reservationCode">Enter your reservation code:</label>
            <input type="text" id="reservationCode" name="reservationCode" required>
            <button type="submit">Check</button>
        </form>
       {% if reservation is defined %}
        <p>Your reservation is scheduled for {{ reservation.startTime|date('H:i') }}. 
        {% if remainingTime %}
            The remaining time is {{ remainingTime }}.
        {% else %}
            The reservation time has passed.
        {% endif %}
        </p>
        <form action="{{path('cancel_reservation', { 'id': reservation.pkId }) }}" method="post">
            <button type="submit">Cancel Visit</button>
        </form>
        {% elseif error is defined %}
            <p>{{ error }}</p>
        {% endif %}
        {% for message in app.flashes('canceled') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</body>


